body {
font-family: Comic Sans MS, sans-serif;
color: #ffffff;
background-color: #000000;
text-align: center;
}
h1 {
font-family: Comic Sans MS, sans-serif;
color: #ffffff;
font-size: 169;
}
h2 {
font-family: Comic Sans MS, sans-serif;
color: #ffffff;
font-size: 75;
}
h3 {
font-family: Comic Sans MS, sans-serif;
color: #ffffff;
font-size: 40;
}
