h1 {
font-family: Comic Sans MS, sans-serif;
color: #ffaa00;
font-size: 50;
text-align: center;
}
h3 {
font-family: Comic Sans MS, sans-serif;
color: #ffaa00;
font-size: 40;
text-align: center;
}
body {
background-color: #003300;
font-family: Comic Sans MS, sans-serif;
}
custom1 {
font-family: Comic Sans MS, sans-serif;
color: #00ff00;
font-size: 30;
}
custom2 {
font-family: Comic Sans MS, sans-serif;
color: #00ff00;
font-size: 20;
}
