@font-face {
font-family: Rubik Bold;
src: url(/RubikBold.ttf);
}
h1 {
font-family: Rubik Bold, Comic Sans MS;
color: #ffaa00;
font-size: 50;
text-align: center;
}
h3 {
font-family: Rubik Bold, Comic Sans MS;
color: #ffaa00;
font-size: 40;
text-align: center;
}
body {
background-color: #003300;
font-family: Rubik Bold, Comic Sans MS;
}
custom1 {
font-family: Rubik Bold, Comic Sans MS;
color: #00ff00;
font-size: 30;
}
custom2 {
font-family: Rubik Bold, Comic Sans MS;
color: #00ff00;
font-size: 20;
}
