@font-face {
font-family: Rubik Bold;
src: url(/website/cdn/RubikBold.ttf);
}
a:link {
	-webkit-text-stroke: #0000ff;
	 text-decoration: underline;
}
a:visited {
	-webkit-text-stroke: #0000ff;
	 text-decoration: underline;
}
a:hover {
	-webkit-text-stroke: #0000ff;
	 text-decoration: underline
}

div {
  color: #00ff00;
    -webkit-text-stroke: 2px #00f;
}
h1 {
font-family: Rubik Bold, Comic Sans MS;
color: #ffaa00;
font-size: 50;
text-align: center;
-webkit-text-stroke: 2.5px #00f;
}
h3 {
font-family: Rubik Bold, Comic Sans MS;
color: #ffaa00;
font-size: 40;
text-align: center;
-webkit-text-stroke: 2px #00f;
}
body {
background-color: #003300;
  background-image: url(/website/cdn/sar_bg_notext.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
font-family: Rubik Bold, Comic Sans MS;
-webkit-text-stroke: 2px #00f;
}
custom1 {
font-family: Rubik Bold, Comic Sans MS;
color: #00ff00;
font-size: 40;
-webkit-text-stroke: 2px #00f;
text-align: center;
}
custom2 {
font-family: Rubik Bold, Comic Sans MS;
color: #00ff00;
font-size: 20;
-webkit-text-stroke: 1.3px #0000ff;
}