
#wm-ipp #wm-ipp-inside {
    margin: 0 6px;
    border: 5px solid #000;
    border-top: none;
    background-color: rgb(0,255,0);
    -moz-box-shadow: 1px 1px 4px #333;
    -webkit-box-shadow: 1px 1px 4px #333;
    box-shadow: 1px 1px 4px #333;
    border-radius: 0 0 30px 30px;
}
#wm-ipp div, #wm-ipp tr, #wm-ipp td, #wm-ipp a, #wm-ipp form {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: green;
    background-image: none;
    /* z-index: 2147483640; */
    height: auto;
}
#wm-ipp div, #wm-ipp canvas {
    display: block;
}
#wm-ipp, #wm-ipp * {
    font-family: Rubik, Comic Sans MS, Helvetica, Arial, sans-serif;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 0;
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
    min-width: 0 !important;
    min-height: 0;
    outline: none;
    float: none;
    text-align: left;
    border: none;
    color: #0f0;
    text-indent: 0;
    position: initial;
    background: none;
}
